
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
	font-family: 'icomoon';
	src:url('http://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/stage-13/fonts/icomoon.eot');
	src:url('http://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/stage-13/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('http://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/stage-13/fonts/icomoon.woff') format('woff'),
		url('http://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/stage-13/fonts/icomoon.ttf') format('truetype'),
		url('http://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/stage-13/fonts/icomoon.svg#icomoon') format('svg');
}

.contenido{
	margin-top: 45px;
    margin-left: 15%;
    width: 70%;
    height: 70%;
    left: -100px;
}

body {
	margin: 0;
	background: #ecf0f1;
	color: #1e2a36;
	font-family: sans-serif;
	line-height: 1.5;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}
.main-header {
  margin: auto;
  width: 75%;
  min-height: 90px;
  padding: 1em 2em;
  border: 2px solid #2675a9;
  border-top: none;
  border-radius: 0 0 5px 5px;
	background: #2980b9;
}
  .main-header:after {
    content: " ";
    display: table;
    clear: both;
  }
.logo {
	display: block;
	text-decoration: none;
  float: left;
  margin-top: 5px;
}
  .logo::before {
    color: #fff;
    content: "\e001";
    font-weight: normal;
    font-style: normal;
    font-size: 2.5em;
    font-family: "icomoon";
    -webkit-font-smoothing: antialiased;
  }

/* Nav Demo Styles -------------------- */

.main-nav,
.drop-nav {
  background: #2c3e50;
}
.main-nav {
  float: left;
  border-radius: 4px;
  margin-top: 8px;
  border: solid 1px #1e2a36;
}
  .main-nav > li {
    float: left;
    border-left: solid 1px #1e2a36;
  }
  .main-nav li:first-child {
    border-left: none;
  }
  .main-nav a {
    color: #fff;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
  }
.dropdown,
.flyout {
  position: relative;
}
.dropdown:after {
  content: "\25BC";
  font-size: .5em;
  display: block;
  position: absolute;
  top: 38%;
  right: 12%;
}
.drop-nav,
.flyout-nav {
  position: absolute;
  display: none;
}
.drop-nav li {
  border-bottom: 1px solid rgba(255,255,255,.2);
}
.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
  display: block;
}
.flyout-nav {
  left: 100%;
  top: 0;
}
.flyout:hover a,
.flyout-nav {
  background: #395066;
}

.titulo{
	width: 21%;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	line-height: 20px;
	color: #395066;
	padding: 3px 0 5px 30px;
	margin: 0;
	border-bottom: 2px solid #2675a9;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.tablaCentro{
	margin: auto;
	width: 30%;
    height: 50%;
}

.botones-derecha{
	float: right;
}
.ui-datatable-tablewrapper{
	overflow: visible;
	margin-top: 10%;
}

#tabla {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tabla td, #tabla th {
    border: 1px solid #ddd;
}

#tabla tr:nth-child(even){background-color: #f2f2f2;}

#tabla tr:hover {background-color: #ddd;}

#tabla th{
    text-align: left;
    background-color: #007bff;
    color: #040404;
}

.ui-button-text-only .ui-button-text{
	padding: 0em 0.5em; 
}

.dias{
	width: 36px;
}

.calendario{
	    width: 60%;
}

.montoCheque{
	width: 120px;
}

.lupaBusqueda{
	margin-left: 5%;
}
